{% load static %}
{% with request.resolver_match.view_name as view_name %}
<header>


</header>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}" href="{% url 'posts:post_create' %}">Новая запись</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav me-4 mb-2 mb-lg-0">
        {% if not user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}" href="{% url 'users:info_last' %}">
            {% if user.first_name %}
            {{ user.first_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        {% endif %}
        </ul>
      <form class="d-flex" role="search" action="{% url 'posts:search' %}">
        <input class="form-control me-2" type="search" placeholder="Поиск по тексту" aria-label="Search" name="search">
        <button class="btn btn-outline-secondary" type="submit">Искать</button>
      </form>
    </div>
  </div>
</nav>
{% endwith %}