{% extends "base.html" %}
{% block title %}Об Авторе{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="container py-5">
  <div class="row">
  <h1>Обо мне:</h1>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img src="https://sun9-north.userapi.com/sun9-78/s/v1/ig2/1yVo77AGFPu-HLL2qN0k8p24lTU-JfphhOp7542f1eYKJ-C75TMvUG8WyKpkDrI3YpUMuUPpRIoEZ463E6kqvL5w.jpg?size=2560x1707&quality=96&type=album" class="img-thumbnail" alt="...">
      </li>
      <li class="list-group-item">
          <p align="center"><a class="nav-item me-2" href="https://vk.com/r.bychin">
        <img class="nav-item me-2" src="https://vk.com/images/icons/favicons/fav_logo_2x.ico?6" width="24"></a>
        <a class="nav-item me-2" href="https://instagram.com/r.bychin">
        <img class="nav-item me-2" src="https://static.cdninstagram.com/rsrc.php/v3/yR/r/lam-fZmwmvn.png" width="24"></a>
        <a class="nav-item me-2" href="https://t.me/RBychin">
        <img class="nav-item me-2" src="https://web.telegram.org/z/apple-touch-icon.png" width="24"></a></p>
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-7">
      <div class="card">
      <div class="card-body card-text">
    <p>
      Всем привет.<br>
Меня зовут Роман.<br>
В целом человек творческий, но с неким аналитическим складом ума, и даже к
      творчеству я относился с аналитикой и математикой...<br><br>

8 лет отработал в интернет компании (провайдер), первые несколько лет был
      просто монтажником, который ползает по чердакам и подвалам, подключая
      абонентов, далее начал вникать в схему построения сети, маршруты, спустя
      время начал заниматься ПО маршрутизаторов, проверял актуальность
      настроек и прошивок свитчей на домах по telnet...рисовал схемы
      подключения (логические задачки) и все это мне очень нравилось,
      довольно быстро мои задачи и место в компании сменилось,
      это было куда интереснее и перспективнее возни с кабелями
      и у меня это получалось и нравилось, однако решил себя попробовать
      в том, к чему вело меня мое хобби...
      параллельно с 16 лет полюбил фотографию (автомобильную) и это было
      моим хобби, которое со временем переросло в работу, сперва
      снимал машины друзей, затем тюнинг салонов, но целью была - съемка
      рекламы для производителей и дилеров...<br><br>

Последние несколько лет я был оператором в системе
      UltraArm (Russian Arm) - съемочный автомобиль с краном
      на котором висит камера. Снимал кино, клипы, и конечно
      автомобильную рекламу...
      в том числе много сотрудничал и снимал для Яндекс Драйв.
      Клип Свиридовой - Розовый фламинго (я там даже в титрах есть) :)
      Огромное количество сериалов и кино (в основном сцены погонь)
      и еще бОльшее количество автомобильной рекламы для тв.
В какой то момент решил, что это все здорово, но как хобби,
      пусть это и остается хобби, а работу
      хочу связать с умственным трудом.<br><br>

До того как пойти на эти курсы я интенсивно самообучался (примерно пол года),
      ютуб, лекции, чтиво, что бы понять, смогу ли я это вообще осилить,
      так как были очень большие сомнения...писал какие то примитивные
      программы, но то, что дал Яндекс Практикум за несколько месяцев
      не сравниться с тем, что я получал сам...Яндекс дал огромный толчок
      и уверенность в том, что я могу, и я справлюсь.
И вот я здесь, пишу этот текст, на сайте созданном мною...
      посмотрим, что будет дальше.<br><br>

Всем кто прочитал - успехов в учебе и начинаниях, у всех все получится.
    </p>
  </div>
          </div>
  </article>
  </div>
</div>
{% endblock %}