{% load thumbnail %}
{% load humanize %}
{% load embed_video_tags %}
<article>
  <div class="card my-4">
  <h7 class="card-header">
  <dd>
    <div align="right" style="float:right;">
      <font class="figure-caption">
        {{ post.pub_date|naturalday }} в {{ post.pub_date|date:'H:m' }}
        <p>{% if post.edit_date %}(изменен){% endif %}</p>
      </font>
    </div>
    {% if author_flag == 'True' %}
    <li>
      Автор:
      <a class="link-secondary" href="{%url 'posts:profile' post.author %}">
        {% if post.author.first_name %}
        {{ post.author.first_name }} {{ post.author.last_name|slice:':1' }}.
        {% else %}
        {{ post.author.username }}
        {% endif %}
      </a>
    </li>
    {% endif %}
    {% if group_flag == 'True' %}
    {% if post.group and group_flag %}
    <li>
        Группа:
        <a class="link-secondary" href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>
    </li>
    {% endif %}
    {% endif %}
  </dd>
  </h7>
<div class="card-body">
  {% thumbnail post.image "1080x381" crop="center" upscale=True as im %}
    <a href="{% url 'posts:post_detail' post.pk %}">
      <img class="card-img my-2" src="{{ im.url }}" style="object-fit: contain; width: 100%">
    </a>
  {% endthumbnail %}



  {% if post.video %}
  <div class="card-img my-2">{% video post.video '100% x 400' %}</div>
  {% endif %}


  <div class="fw-light">
    <p>
      {{ post.text|linebreaks|slice:':500' }}{% if post.text|length > 500 %}... <a class="text-muted" href="{% url 'posts:post_detail' post.id %}">читать далее</a>{% endif %}
    </p>
    <span style="float: right">{% include 'posts/includes/likes.html'%}</span>
  </div>
</div>
<h7 class="card-footer">
  <dt>
    {% if post.comments.count > 0 %}
    <dd>
  <a class="link-secondary" href="{% url 'posts:post_detail' post.pk %}">Комментарии: {{ post.comments.count }}</a>
    </dd>
      {% endif %}
    <dd>
    <a class="link-secondary" href="{% url 'posts:post_detail' post.pk %}">подробная инфомация</a>
      {% if post.author == user %}
    <span style="float:right;">
      <a href="{% url 'posts:post_delete' post.pk %}" type="button" class="btn-close" aria-label="Close"></a>
  </span>
    {% endif %}
    </dd>
  </dt>
</h7>
  </div>
</article>

