{% load thumbnail %}
<div class="row">
  {% if detail_flag == 'True' %}
  {% include 'posts/includes/post_detail_sidebar.html' %}
  {% endif %}
  <article class="col-12 col-md-9">
    <div class="card my-4">
      {% if not post.image %}
      <h7 class="card-header"><b>Пост:</b></h7>
      {% endif %}
      {% thumbnail post.image "1920x1080"  upscale=True as im %}
      <h7 class="card-header">
        <img class="card-img my-2" src="{{ im.url }}">
      </h7>
      {% endthumbnail %}
      <div class="card-body">
      <p class="blockquote">
       {{ post.text | linebreaksbr }}
      </p>
      </div>
    </div>
    {% if detail_flag == 'True' %}
      {% include 'posts/includes/comments.html' %}
        {% endif %}
  </article>
</div>
<br>