{% extends 'base.html' %}
{% block title %}Лента{% endblock %}
{% block content %}
{% with page_obj|first as post %}
      {% include 'posts/includes/switcher.html' %}
      <h1>Авторов в подписках: {{ post.author.following.count }}</h1>
      <h6>Всего постов: {{ page_obj.paginator.count }}</h6>
{% endwith %}
      {% for post in page_obj %}
        {% include 'posts/includes/posts_form.html' with all_posts_flag='True' group_flag='True' author_flag='True' %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
{% endblock %}