{% extends 'base.html' %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block content %}
        <h1>Все посты пользователя {{ author.get_full_name }}
            {% if request.user != author %}
            <span style="float:right;">{% include 'posts/includes/follow_botton.html' %}</span>
            {% endif %}
        </h1>
        <h6>Всего постов: {{ page_obj.paginator.count }} </h6>
        <h6>Подписок: {{ author.follower.count }} </h6>
        <h6>Подписчиков: {{ author.following.count }} </h6>
          {% for post in page_obj %}
          {% include 'posts/includes/posts_form.html' with group_flag='True' %}
          {% endfor %}
      {% include 'posts/includes/paginator.html' %}
{% endblock %}